.master_table th {
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 4px 10px;
    text-align: justify;
}
.master_table td {
    border: 1px solid #ddd;
    padding: 4px 10px;
    text-align: justify;
    font-size: 13px;
}
.master_btn {
    font-size: 12px !important;
    color: white !important;
}