.master_table th, .master_table td {
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 4px 10px;
    text-align: justify;
}

.master_btn {
    font-size: 12px !important;
    color: white !important;
}

.search_input {
    width: 30% !important;
}

.search_input input::placeholder {
    font-size: 12px !important;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
    .master_table th, .master_table td {
        font-size: 10px;
        padding: 2px 5px;
    }
    .master_btn {
        font-size: 10px !important;
        padding: 5px 10px !important;
    }
    .search_input {
        width: 80% !important;
    }
}
