.master_table th, .master_table td {
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 4px 10px;
    text-align: justify;
}

.master_btn {
    font-size: 12px !important;
    color: white !important;
}

.search_input {
    width: 30% !important;
}

.search_input input::placeholder {
    font-size: 12px !important;
}
.table-responsive td img {
    border-radius: 2em;
    height: auto;
    width: 40px;
    overflow: hidden;
}
.master_table p {
    font-size: 18px;
    color: #6b6a6a;
    text-align: center;
    padding: 12px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .master_table p::before {
    content: "⚠️ ";
    font-size: 20px;
    color: #e74c3c;
  }
/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
    .master_table th, .master_table td {
        font-size: 10px;
        padding: 2px 5px;
    }
    .master_btn {
        font-size: 10px !important;
        padding: 5px 10px !important;
    }
    .search_input {
        width: 80% !important;
    }
    .master_table p {
        font-size: 14px;
        padding: 5px;
        margin-top: 3em;
    }
}
